<!DOCTYPE html>
<html>
<head>
 <title>Markdown解析示例</title>
 <script src="/static/marked.min.js"></script>
 <link rel="stylesheet" href="/static/CSS/github-markdown-light.min.css">
 <style>
 /* 确保这段代码在引入github-markdown-light.min.css之后 */
 .markdown-body {
     background-color: #f2f2f2 !important; /* 使用 !important 来覆盖默认样式 */
     color: #333333 !important; /* 假设您想将文字颜色改为深色，以保持可读性 */
 }

 /* 其他媒体查询和样式保持不变 */
 @media (max-width: 767px) {
     body {
         background-color: #f2f2f2;
         padding: 15px;
     }
 }

 body {
     background-color: #f2f2f2;
     box-sizing: border-box;
     min-width: 200px;
     max-width: 980px;
     margin: 10px;
 }
 </style>
</head>


<body>
<div id="m" class="markdown-body"></div>

<script>
  fetch('/static/makedown/help.md')
        .then(response => response.text())
        .then(markdown => {
           document.getElementById('m').innerHTML = marked.parse(markdown, { mangle: false });

        })
</script>

</body>

</html>
