<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账户</title>
    <link href="/static/home_style.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/fontawesome.css">
    <link rel="stylesheet" href="/static/solid.css">
    <script src="/static/home_script.js"></script>
</head>

<body>

    <div class="header">
        <div>Microsoft 账户</div>
        <div class="menu-toggle" onclick="toggleSidebar()">☰</div>
    </div>
    <div class="container">

        <div class="sidebar" id="sidebar">
            <button class="nav-button" data-path="/control-panel">控制面板</button>
            <button class="nav-button" data-path="/accounts">账户</button>
            <button class="nav-button">小黑屋</button>
            <button class="nav-button" data-path="/subscriptions">订阅</button>
            <button class="nav-button" data-path="/help">帮助</button>
            <button class="nav-button" id="nav-button-logout">注销</button>
        </div>


        <div class="content" id="content">

            <div class="top">
                <h2>控制面板</h2>
                <button>添加</button>
            </div>


            <div class="user-card">

                <div class="box overview">

                    <h2><i class="fa-solid fa-user"></i>Username</h2>
                    <div class="status"></div>

                </div>

                <div class="user-info">

                    <div class="box">

                        <div class="info">

                            <p>
                                <i class="fa-solid fa-lock"></i>
                                passwd
                            </p>
                            <p>
                                <i class="fa-solid fa-clock"></i>
                                预约时间
                            </p>
                            <p>
                                <i class="fa-solid fa-couch"></i>
                                预约座位
                            </p>
                        </div>

                    </div>


                    <div class="box">

                        <div class="btn-box">
                            <button onclick="">自动预约</button>
                            <button onclick="">退坐</button>
                            <button onclick="">修改</button>
                            <button onclick="">删除</button>
                        </div>
                    </div>

                </div>

            </div>


        </div>

    </div>

    <div class="dialog-box">
        <h2>预约项目</h2>
        <form action="#" method="post">

            <div class="login">
                <input type="text" name="" id="">
                <input type="password" name="" id="">
            </div>
            

            <div class="time">
                <input type="time" name="" id="">
                <input type="time" name="" id="">
                <input type="time" name="" id="">
                <input type="time" name="" id="">
            </div>

            <div class="btn-box">
                    <button onclick="">同步</button>
                    <button onclick="">取消</button>
            </div>


        </form>
    </div>

    <div>
        <p>相关链接:
            <a href="#">查看帮助</a> &amp; <a href="#">学习</a>
        </p>
    </div>

    </div>
</body>

</html>